<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{title}} - SparkBlog</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/site.css">
</head>
<body>
<header>
    <div class="container">
        <a class="logo" href="/">SparkBlog</a>
    </div>
</header>

<!-- Blog Title Wrapper -->
<div class="container title-wrapper">
    <h1>{{title}}</h1>
</div>

<section>
    <div class="container">
        <article>
            <time datetime="{{createdAt}}">{{createdAt}}</time>
            <p>{{body}}</p>
        </article>

        <!-- Comments Section -->
        <div class="comments">
            <h2>Comments</h2>
            {{#if comments}}
                <ul>
                    {{#each comments}}
                        <li>
                            <strong>{{name}}</strong>: {{body}}
                        </li>
                    {{/each}}
                </ul>
            {{else}}
                <p>No comments yet. Be the first to comment!</p>
            {{/if}}

            <!-- Comment Form -->
            <h3>Leave a Comment</h3>
            <form action="/entry/{{slug}}/comment" method="post">
                <label for="name">Your Name:</label><br>
                <input type="text" id="name" name="name" required><br>

                <label for="body">Your Comment:</label><br>
                <textarea id="body" name="body" rows="4" cols="50" required></textarea><br>

                <input type="submit" value="Submit Comment" class="button">
            </form>
        </div>
    </div>
</section>

<footer>
    <div>
        <a href="#">Contact Us</a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
        <a href="#">Terms</a>
    </div>
</footer>
</body>
</html>

